@charset "UTF-8";

.Accordion {
	overflow: hidden;
	outline:none;
	border-top: 1px solid #bbbbbb;
	margin: 20px 42px 0 20px;
}

.AccordionPanel {
	margin:0;
	padding:0;
	border-bottom: 1px solid #bbbbbb;
}

.AccordionPanelTab {
	background-color: #f6f6f6;
	background-image:url(../images/accordion-label.png);
	background-repeat:no-repeat;
	background-position:right 0;
	margin:0;
	padding:0;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	outline:none;
}

.AccordionPanelTab h3 {
	font-weight:normal;
}

.AccordionPanelContent {
	overflow: auto;
	margin: 0px;
	padding: 5px 0;
}

.AccordionPanelOpen .AccordionPanelTab, .AccordionPanelOpen .AccordionPanelTabHover {
	background: #333333;
	color:#fff;
	background-image:url(../images/accordion-label.png);
	background-repeat:no-repeat;
	background-position:right -30px;
}

.AccordionPanelOpen .AccordionPanelTab h3 {
	color:#ffffff;
	
}

.AccordionPanelTabHover {
	background-color: #eeeeee;
	
}
/* Rules for Printing */

@media print {

  .Accordion {
  overflow: visible !important;
  }
  
  .AccordionPanelContent {
  display: block !important;
  overflow: visible !important;
  height: auto !important;
  }
}